{% include "header.html" %}
    <body>

        <div class="container-fluid p-5 bg-primary text-white text-center">
            <h1>Account Listing</h1>
        </div>

        <div class="container mt-5">
            <table class="table table-striped table-hover" data-toggle="table" data-search="true" data-sortable="true" data-pagination="true" data-page-list="[10, 25, 50, 100, all]" >
                <thead>
                    <tr>
                        <th data-sortable=true>Coffee Shop Name</th>
                        <th data-sortable=true>Account Name</th>
                        <th data-sortable=true>Current Points</th>
                        <th data-sortable=true>Available Rewards</th>
                        <th data-field="changeBalance">Change Balance</th>
                        <th data-field="viewRecord">View Record</th>
                    <tr>
                </thead>
                    {% for coffeeShop, accounts in availableAccounts.items %}
                        {% for account in accounts %}
                            <tr>
                                <td>{{account.coffeeShop.name}}</td>
                                <td>{{account.accountCode}}</td>
                                <td>{{account.currentPoints}}</td>
                                <td>{{account.availableRewards}}</td>
                                <td><a href="{% url 'pointsEntry' account.accountCode %}">Link</a></td>
                                <td><a href="{% url 'timelineView' ccount.accountCode %}">Link</a></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
            </table>
        </div>

        <div class="container-fluid p-5 bg-primary text-white text-center">
            <h1>Create New Account</h1>
        </div>

        <div class="container mt-5">
            <form action="/rewards/createAccount" method="post">
                {% csrf_token %}
                <p>
                    <label for="newAccountCode" class="form-label">New Account Code</label>
                    <input class="form-control" type="text" name="newAccountCode" id="newAccountCode" readonly="true" value="{{newAccountCode}}">
                </p>
                <p>
                    <label for="initialPoints" class="form-label">Initial Points</label>
                    <select class="form-select form-select-lg mb-3" name="initialPoints" id="initialPoints">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </p>
                <p>
                    Initial Rewards: 
                    <select class="form-select form-select-lg mb-3" name="initialRewards" id="initialRewards">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </p>
                <p>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </p>
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table.min.js"></script>  

    </body>
{% include "footer.html" %}
