{% extends "base.html" %}
{% block header1 %}
    <h1>Account Listing</h1>
    <h2>{{coffeeShop.name}}</h2>
{% endblock %}



{% block mainBody %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table.min.js"></script>  


    <!-- Modal -->
    <script>

        $(document).ready(function(){
        var $table = $('#coffeeShopAccountTable')
        var $showAllButton = $('#showAllButton')
        var $showDisabledButton = $('#showDisabledButton')
        var $hideDisabledButton = $('#hideDisabledButton')


        $showAllButton.click(function () {
            console.log("a");

            $table.bootstrapTable('filterBy', {
              disabled: "True"
            }, {
              'filterAlgorithm': (row, filters) => {
                console.log(row["accountStatus"])
                if (row["accountStatus"] == filters.disabled){
                    return true;
                }else{
                    return true;
                }
              }
            })
          })
        $showDisabledButton.click(function () {
            console.log("a");

            $table.bootstrapTable('filterBy', {
              disabled: "True"
            }, {
              'filterAlgorithm': (row, filters) => {
                if (row["accountStatus"] == filters.disabled){
                    return true;
                }else{
                    return false;
                }
              }
            })
          })
          $hideDisabledButton.click(function () {
            console.log("a");

            $table.bootstrapTable('filterBy', {
              disabled: "False"
            }, {
              'filterAlgorithm': (row, filters) => {
                if (row["accountStatus"] == filters.disabled){
                    return true;
                }else{
                    return false;
                }
              }
            })
          })

})

      </script>
      <script>
        function updateButtonLink(accountCode){
            const button = document.getElementById("deleteAccountLink")
            link = "/rewards/deleteAccount/"+accountCode
            button.href=link;
            const modalDiv = document.getElementById("modalAccountCode")
            modalDiv.innerHTML = "<b>"+accountCode+"</b>";
        }
      </script>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Delete Account Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure you want to delete this account and it's corresponding history?
            </div>
            <div class="modal-body" id="modalAccountCode">
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="#" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true" id="deleteAccountLink">Delete Account</a>
            </div>
        </div>
        </div>
    </div>

    <div class="container mt-5">
        <div id="toolbar">
            <button id="showAllButton" class="btn btn-secondary">Show All</button>
            <button id="showDisabledButton" class="btn btn-secondary">Show Disabled</button>
            <button id="hideDisabledButton" class="btn btn-secondary">Hide Disabled</button>
          </div>
        <table id="coffeeShopAccountTable" class="table table-striped table-hover" data-toggle="table" data-search="true" data-sortable="true" data-pagination="true" data-page-list="[10, 25, 50, 100, all]" >
            <thead>
                <tr>
                    <th>QR Code</th>
                    <th data-sortable=true>Account Name</th>
                    <th data-sortable=true>Current Points</th>
                    <th data-sortable=true>Available Rewards</th>
                    <th data-field="changeBalance">Change Balance</th>
                    <th data-field="viewRecord">View Record</th>
                    <th data-field="accountStatus" data-visible="false">Account Disabled</th>
                    {% if userPermission != None and userPermission.permissions == "admin" or loggedInUser.is_superuser  %}
                        <th>Delete Account</th>
                    {% endif %}
                <tr>
            </thead>
                <tbody>
                {% for account in availableAccounts %}
                    <tr >
                        <td>
                            {% for accountCode, qrCode in qrCodes.items %}
                                {% if accountCode == account.accountCode %}
                                    <img src="{{ qrCode }}" class="rounded mx-auto d-block img-fluid" />
                                {% endif %}
                            {% endfor %}
                        <td>{{account.accountCode}}</td>
                        <td>{{account.currentPoints}}</td>
                        <td>{{account.availableRewards}}</td>
                        <td><a href="{% url 'pointsEntry' account.accountCode %}" class="btn btn-primary" role="button" aria-disabled="true">Update Balance</a></td>
                        <td><a href="{% url 'timelineView' account.accountCode %}" class="btn btn-primary" role="button" aria-disabled="true">View History</a></td>
                        <td>{{account.disabled}}</td>
                        {% if userPermission != None and userPermission.permissions == "admin" or loggedInUser.is_superuser  %}
                            <td>
                                <a href="#" class="btn btn-danger" role="button" aria-disabled="true" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onClick="updateButtonLink('{{ account.accountCode }}');">Delete Account</a>
                            </td>
                        {%endif %}
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
    {% if userPermission != None and userPermission.permissions != "read" or loggedInUser.is_superuser  %}

        <div class="container-fluid p-5 bg-primary text-white text-center">
            <h1>Create New Account</h1>
        </div>

        <div class="container mt-5">
            <form action="/rewards/createAccount/{{coffeeShopId}}" method="post">
                {% csrf_token %}
                <p>
                    <label for="newAccountCode" class="form-label">New Account Code</label>
                    <input class="form-control" type="text" name="newAccountCode" id="newAccountCode" readonly="true" value="{{newAccountCode}}">
                </p>
                <p>
                    <label for="initialPoints" class="form-label">Initial Points</label>
                    <select class="form-select form-select-lg mb-3" name="initialPoints" id="initialPoints">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </p>
                <p>
                    Initial Rewards: 
                    <select class="form-select form-select-lg mb-3" name="initialRewards" id="initialRewards">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </p>
                <p>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </p>
            </form>
        </div>
    {% endif %}

{% endblock %}