{% extends "base.html" %}

{% block header1 %}
    <h1>Success</h1>
{% endblock %}

{% block mainBody %}

    {% if redirectUrl != "" %}
        <meta http-equiv="refresh" content="5; url={{redirectUrl}}">
    {% endif %}   
    
    <div class="container mt-5">

        <p>{{message}}</p>
        {% if pointsAdded > 0 %}
            <p>
                Points added: 
                {% for a in pointsAdded|get_range %}
                    &#x2615;
            {% endfor %}
            </p>
        {% endif %}
        {% if rewardsUsed > 0 %}
        <p>
            Rewards used:
            {% for a in rewardsUsed|get_range %}
                &#x2615;
            {% endfor %}
        </p>
        {% endif %}
    </div>
{% endblock %}